<div id="home">
  <div class="container">
    <div id="morning" class="col-md-12">
      <h2>Morning Medications</h2>
        {{#each drugs}}
        <ol class="col-md-8"></ol>
          {{drugName}}
        </ol>
        {{/each}}
    </div>
  </div>
</div>