<div id="home">
  <div class="container">
    <div id="morning" class="col-md-12">
      <h2>Morning Medications</h2>
      <ol class="col-md-8">
        {{#each drugs}}
        <li>
          {{drugName}}
        </li>
        {{/each}}
      </ol>
    </div>
  </div>
</div>